html, body { margin: 0; }

body {
  font-family: 'Courier New', monospace;
  color: #333;
  text-align: center;
  padding: 20px;
  background: #f4f4f4;
}

#sketch {
  margin: 20px auto;
  border: 2px solid #ffffff;
  padding: 10px;
  width: fit-content;
  background: #000000;
}